<form id="signup-form" [formGroup] = "signupForm" 
	(ngSubmit)="onSubmit(signupForm)">
	<input type="text" name="username" placeholder="username" [formControl]="signupForm.controls['username']"><br>
	<div [hidden]="username.valid || (username.untouched && !submitted)">username required!</div>
	<input type="text" name="password" placeholder="password" [formControl]="signupForm.controls['password']"><br>
	<div [hidden]="password.valid || (password.untouched && !submitted)">password required!</div>
	<button type="submit">signup</button>
</form>